#testimonial-2col .bg {
    background-image: url('../images/uploaded/3113/3113-websmith__Testimonial.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.63;
}